<h2>Welcome to the brand page</h2>
<h3><%= @brand.name %></h3>

<% @brand.stores.each do |store| %>
<p>Stores: <%= store.name %></p>
<% end %>

<form action="/brand/<%= @brand.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="new-name" value="<%= @brand.name %>">
  <input type="text" name="new-price" value="<%= @brand.price %>">
  <button type="submit">Make changes</button>
</form>

<form class="pa4" action="/brand/<%= @brand.id %>/edit" method="post">
  <fieldset id="favorite_movies" class="bn">
    <legend class="fw7 mb2">Stores</legend>
    
    <% @stores.each do |store| %>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" id="<%= store.name %>" name="store_ids[]" value="<%= store.id %>">
      <label for="spacejam" class="lh-copy"><%= store.name %></label>
    </div>
    <% end %>
  
  </fieldset>
  <button type="submit">Add stores</button>
</form>


<form action="/brand/<%= @brand.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="Submit" id="#delete">Delete brand</button>
</form>