<h2>Welcome to the store page</h2>
<h3><%= @store.name %></h3>
<% @store.brands.each do |brand| %>
<p>Brands: <%= brand.name %></p>
<% end %>

<form action="/store/<%= @store.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new-name" class="f6 b db mb2">Name</label>
  <input type="text" name="new-name" value="<%= @store.name %>" class="input-reset ba b--black-20 pa2 mb2 db w-100">
  <label for="new-location" class="f6 b db mb2">Location</label>
  <input type="text" name="new-location" value="<%= @store.location %>" class="input-reset ba b--black-20 pa2 mb2 db w-100">
  <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Make changes"></div>
</form>

<form class="pa4" action="/store/<%= @store.id %>/edit" method="post">
  <fieldset id="favorite_movies" class="bn">
    <legend class="fw7 mb2">brands</legend>
    <% @brands.each do |brand| %>
    <div class="flex items-center mb2">
      <input class="mr2" type="checkbox" id="<%= brand.name %>" name="brand_ids[]" value="<%= brand.id %>">
      <label for="spacejam" class="lh-copy"><%= brand.name %></label>
    </div>
    <% end %>
  </fieldset>
  <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Add brands"></div>
</form>

<form action="/store/<%= @store.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Remove store"></div>
</form>