<div class="container">
  <div class="row">
    <div class="col-md-6">
			<h2>Volunteer information</h2>
			<h3><%= @volunteer_info["name"] %></h3>
			<h4>Project: <%= @assigned_project[0]["name"] %></h4>
    </div>
    <div class="col-md-6 edit">
			<form action="/volunteer/edit/<%= @volunteer_info["id"] %>" method="post">
				<input type="hidden" name="_method" value="patch">
				<input class="form-control" type="text" name="new-name" placeholder="New name">
				<button class="btn" type="submit">Save changes</button>
			</form>
			
			<form action="/volunteer/edit/<%= @volunteer_info["id"] %>" method="post">
				<select class="form-control" name="project">
				<% @project_names.each do |project| %>
					<option value="<%= project["id"] %>"><%= project["name"] %></option>
				<% end %>
				</select>
				<button class="btn" type="submit">Add project</button>
			</form>

			<form action="/volunteer/delete/<%= @volunteer_info["id"] %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<button class="btn btn-danger" type="submit">Delete volunteer</button>
			</form>

    </div>
  </div>
</div>