<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <%= hidden_field_tag :amount, "#{@amount.round(2)*100}" %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button pay-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @amount.round(2)*100 %>"
          data-locale="auto"></script>

  <%= button_tag "Pay $#{@amount.to_f.round(2)}, you know you want to... 😘", class: "pay-button dim" %>
<% end %>