<form>
  <label for="artist">Artist</label>
  {{input value=artist id="artist" placeholder=album.artist}}
  <label for="album">Album</label>
  {{input value=title id="title" placeholder=album.album}}
  <label for="genre">Genre</label>
  {{input value=genre id="genre" placeholder=album.genre}}
  <label for="img">Image url</label>
  {{input value=image id="image" placeholder=album.image}}
  <br>
  <label for="img">Review</label>
  {{input value=review id="review" placeholder=album.review}}
  <button {{action 'updateAlbum' album}}>Update Album</button>
</form>
