<% content_for(:title, 'Products') %>

<article>
  <div class="cf pa4">
    <% @products.each do |product| %>
      <div class="fl w-50 w-30-m w-25-l pa3">
        <div class="image-container">
          <%= link_to (image_tag product.image, class: "db link dim tc image"), product_path(product) %>
        

          <%= form_for @order_item, url: {controller: "order_items", action: "create"} do |f| %>
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to cart", class: "cart-button dim" %>
          <% end %>
        </div>

        <%= link_to product_path(product) do %>
         <dl class="mt2 f5 lh-copy">
            <dt class="clip">Name</dt>
            <dd class="ml0 black truncate w-100 tc"><%= product.name %></dd>
            <dt class="clip">Price</dt>
            <dd class="ml0 black truncate w-100 tc">$<%= product.price %></dd>
          </dl>
        <% end %>
      </div>
    <% end %>
  </div>
</article>


  