<%= @product.name %>
<br>
<%= image_tag @product.image %>
<%= @product.description %>

<% @reviews.each do |review| %>
  <p><%= review.user.email %> | <%= review.content %> </p>
<% end %>

<%= link_to 'add a review', new_product_review_path(@product) %>