<h2>{{model.content}}</h2>
<p>by {{model.author}}</p>

{{update-question question=model updateQuestion='updateQuestion'}}

<h3>Answers:</h3>

{{new-answer newAnswer='addAnswer' model=model}}

{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}

