<div class="tc pv4 bb b--moon-gray" id="nav">
  <%=  %>
  <% if is_logged_in? %>
    <%= link_to (image_tag 'logo.png', class: 'logo'), root_path, class: "" %>
    <%= link_to 'products', products_path, class: "pl5 pa2 fl" %>
    <%= link_to 'about', about_index_path, class: "pa2 fl" %>
    
    <%= link_to 'sign out', destroy_user_session_path, method: 'delete', class: "pa2 pr5 fr" %>
    
    <% if is_admin? %>
      <%= link_to 'admin', rails_admin_path, class: "pa2 fr" %>
    <% end %>

    <%= link_to 'cart', cart_index_path, class: "pa2 fr" %>

    <br style="clear: left;" />

  <% end %>
</div>